
<!-- Contains partial for the posts index page -->

<h1>Articles</h1>
<a href="/blog/new"><h3>New post</h3></a>
<% posts.forEach(function(post) { %>
  <% include ./post_summary %>
 <% }) %>

<%- contentFor('title') %>
All Articles
