<form action="/blog/new" method="post">
		Title: <br>
		<input type="text" name="title" required><br>
		Content:<br>
		<input type="text" name="content" required>
		<input type="submit" value="accept"/><br><br><hr>
</form>
