<!-- Contains html for rendering a post summary -->
<!-- Add and format blog content here -->
<h2> <a href="/blog/<%= post['slug']%>">
		<%- post['title'] %>
</h2></a>
<div><%- post['summary'] %></div>